* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #0f0f0f;
    color: #ffffff;
}

.navbar {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1b1b1b;
    position: sticky;
    top: 0;
    z-index: 10;
}

.brand {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
}

.brand span {
    color: #1e90ff;
}

.menu {
    display: flex;
    gap: 35px;
}

.menu a {
    color: #cfcfcf;
    text-decoration: none;
    font-size: 15px;
    transition: .3s;
}

.menu a.active,
.menu a:hover {
    color: #1e90ff;
    border-bottom: 2px solid #1e90ff;
    padding-bottom: 5px;
}

.btn-join {
    padding: 10px 20px;
    background: #1e90ff;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.btn-join:hover {
    background: #0f75d1;
}

.hero {
    text-align: center;
    padding: 120px 20px;
    background: #131313;
}

.hero h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.3;
}

.hero h1 span {
    color: #1e90ff;
}

.subtitle {
    margin-top: 12px;
    font-size: 18px;
    color: #d0d0d0;
}

.btn-start {
    margin-top: 25px;
    padding: 12px 25px;
    background: #1e90ff;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;
}

.btn-start:hover {
    background: #0f75d1;
}

.offer {
    padding: 60px 0;
    text-align: center;
}

.offer h2 {
    font-size: 25px;
    letter-spacing: 1px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card {
    background: #1b1b1b;
    width: 220px;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    transition: .3s;
}

.card:hover {
    transform: translateY(-8px);
    background: #242424;
}

.icon-box {
    font-size: 40px;
    margin-bottom: 15px;
    color: #1e90ff;
}

.card h3 {
    margin-bottom: 8px;
}

.card p {
    color: #c0c0c0;
}